@{
    ViewBag.Title = "EditJobOrder";
}

<h2>
    JobOrder Edit
</h2>
@* =============== timepicker *@
<link href="@Url.Content("~/Content/timepicker/wickedpicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/timepicker/wickedpicker.js")" type="text/javascript"></script>
@* =============== Pager *@
<script src="@Url.Content("~/Scripts/EditableGrid/Pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/JobOrderBorrow/IndexJobOrderBorrow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CUDS/JobOrder/EditJobOrder.js")" type="text/javascript"></script>
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- Modal -->
<div class="modal fade" id="customerDialog" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblCustomer" class="table table-striped table-hover">
                        <thead class="bgthead">
                            <tr>
                                <th>No.</th>
                                <th>รหัสลูกค้า</th>
                                <th>ลูกค้า</th>
                                <th>เบอร์โทร</th>
                                <th>บุคคลติดต่อ</th>
                            </tr>
                        </thead>
                        <tbody id="customerBody"></tbody>
                    </table>
                </div>
                @*<ul class="pagination pagination-lg pager" id="myPager"></ul>*@
            </div>
        </div>

    </div>
</div>

@using (Html.BeginForm())
{
    //===================================================================CSS w3school
    <form>
        <ul class="form-style-1">
            <li>
                <label>รายละเอียด<span class="required">*</span></label>
                <input type="text" id="txtJobNo" name="field1" class="field-divided" placeholder="เลขที่ใบสั่งงาน" disabled />
            </li>
            <li>
                <input type="text" id="dtJobDate" class="field-divided" placeholder="วันที่" required/>&nbsp;<input type="text" id="txtCar" name="field1" class="field-divided" placeholder="รถปิกอัพ" />
            </li>
            <li>
                <label class="label-2">วันเริ่มทำงาน</label>&nbsp;<label class="label-2">วันจบงาน</label>
            </li>
            <li>
                <input type="text" id="dtSWorking" class="field-divided" placeholder="วันเริ่มทำงาน" required/>&nbsp;<input type="text" id="dtEWorking" class="field-divided" placeholder="วันจบงาน" onchange="DateWorking()" required/>
            </li>
            <li>
                <label class="label-4">รับงานโดย</label>&nbsp;<label class="label-2">ออกโดย</label>

            </li>
            <li>
                <input type="text" id="txtJobBy" name="field1" class="field-divided" placeholder="รับงานโดย" required/>&nbsp;<input type="text" id="txtIssuedBy" name="field1" class="field-divided" placeholder="ออกโดย" required/>
            </li>
            <li>
                <label class="label-5">ชนิดงาน</label>&nbsp;<label class="label-2">Status</label>
            </li>
            <li>
                <select id="cmbTypeWorking" class="field-divided-2" required></select><select id="cmbJobStatus" class="field-divided" required></select>
            </li>

            <li>
                <label>รายละเอียดงาน</label>
                <textarea name="field5" id="txtDetail" class="field-long field-textarea"></textarea>
            </li>

        </ul>
        <ul class="form-style-1">

            <li>
                <label>ลูกค้า</label>
                <input type="text" id="txtCustomerName" class="field-divided" placeholder="ลูกค้า/บริษัท" disabled />&nbsp;<a href="#" data-toggle="modal" data-target="#customerDialog">
                    <img src="@Url.Content("~/Images/search-engine.png")" class="btnimage" />
                </a>
                <input type="hidden" id="hidCustID" />
            </li>
            <li>
                <input type="text" id="txtTel" name="field2" class="field-divided" placeholder="โทรศัพท์" disabled />&nbsp;<input type="text" name="field1" id="txtFax" class="field-divided" placeholder="แฟกซ์" disabled />
            </li>
            <li>
                <input type="text" id="txtContact" name="field1" class="field-divided" placeholder="บุคคลติดต่อ" disabled />&nbsp;<input type="text" name="field2" id="txtCoWorker" class="field-divided" placeholder="ผู้ประสานงาน" disabled />
            </li>
            <li>
                <textarea name="field5" id="txtAddress" class="field-long field-textarea" placeholder="ที่อยู่" disabled></textarea>
            </li>
            <li>
                <input type="text" id="txtJobReference" name="field1" class="field-divided" placeholder="Job Reference" disabled />
                <input type="hidden" id="hidBDCID" />
                <input type="hidden" id="hidJobID" />
            </li>
            <li>
                <label>หมายเหตุ</label>
                <textarea name="field5" id="txtRemark" class="field-long field-textarea"></textarea>
            </li>
        </ul>
        @*//===================================================================CSS w3school*@

        <table class="tabbar">

            <tr>
                <td>
                    <div id="container">
                        <div id="parentHorizontalTab">
                            <ul class="resp-tabs-list hor_1">
                                <li>Expense</li>
                                <li>ManPower</li>
                                <li>Sale Order</li>
                                <li>Invoice</li>
                                <li>Receipt</li>
                                <li>Borrow</li>
                                @*<li>Attach File</li>*@
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <div class="wrapper">
                                        <table class="tableexpense">
                                            <tr>
                                                <td>
                                                    <ul class="form-style-1">
                                                        <li>
                                                            <label>Income</label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myDIV">
                                            <table id="tabIncome" class="example">
                                                <thead class="theader">
                                                    <tr>
                                                        <th></th>
                                                        <th>Item</th>
                                                        <th>ID</th>
                                                        <th class="hidecolumn">JobID</th>
                                                        <th>Description</th>
                                                        <th>Unit</th>
                                                        <th>Qty</th>
                                                        <th class="wraptext">Unit Price</th>
                                                        <th>Amount</th>
                                                        <th colspan="2"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="6" class="textalign">Total</td>
                                                        <td colspan="3"><input id="txtTotal" type="text" value="" class="text-size170 txtdisablefooter" disabled /></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" class="textalign">Discount</td>
                                                        <td colspan="3"><input id="txtDiscount" type="text" value="" class="Number text-size168 textright" onchange="CalSum()" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" class="textalign">Sub Total</td>
                                                        <td colspan="3"><input id="txtSubTotal" type="text" value="" class="text-size170 txtdisablefooter" disabled /></td>
                                                    </tr>
                                                </tfoot>
                                                <tbody id="tBodyRowIncome">
                                                    <tr class="RowCal">
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td>
                                                            <input id="IncomeID" type="text" value="" class="IncomeID" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="JobID" type="text" value="" class="JobID" disabled />
                                                        </td>
                                                        <td>
                                                            <select id="cmbIncomeType" class="Select1"></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitWeight" class="UnitWeight Number text-size80 textright">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtQty" class="Quantity Number text-size80 textright" placeholder="0" onchange="CalSum()" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitPrice" class="Price Number text-size130 textright" placeholder="0" onchange="CalSum()" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtAmount" disabled class="Amount Number text-size165 txtdisablerow">
                                                        </td>

                                                        <td>
                                                            <div class="clone-1"><img id="cloneRowIncome"  class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                    <tr class="RowCal" id="add-template6">
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td>
                                                            <input id="IncomeID" type="text" value="" class="IncomeID" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="JobID" type="text" value="" class="JobID" disabled />
                                                        </td>
                                                        <td>
                                                            <select class="Select1"></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitWeight" class="UnitWeight text-size80 textright" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtQty" class="Quantity Number text-size80 textright" onchange="CalSum()" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitPrice" class="Price Number text-size130 textright" onchange="CalSum()" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtAmount" disabled class="Amount Number text-size165 txtdisablerow">
                                                        </td>
                                                        <td>
                                                            <div class="clone-1"><img id="cloneRowIncome" class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a id="add-row6" href="#" onclick="AddRowIncome()">+ Add Row</a>
                                        @*<button id="add-row6" onclick="AddRowIncome()" class="btn btn-primary">Add Row</button>*@

                                        <table class="tableexpense">
                                            <tr>
                                                <td>
                                                    <ul class="form-style-1">
                                                        <li>
                                                            @*class="label-small-2"*@
                                                            <label>Manpower and Tool Cost</label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="myDIV">
                                            <table id="tabCost" class="example">
                                                <thead class="theader">
                                                    <tr>
                                                        <th></th>
                                                        <th>Item</th>
                                                        <th class="hidecolumn">ID</th>
                                                        <th class="hidecolumn">JobID</th>
                                                        <th>Description</th>
                                                        <th>Unit</th>
                                                        <th>Qty</th>
                                                        <th class="wraptext">Unit Price</th>
                                                        <th>Amount</th>
                                                        <th colspan="2"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="6" class="textalign">Total</td>
                                                        <td colspan="3"><input id="txtTotalExpense" type="text" value="" class="text-size170 txtdisablefooter" disabled /></td>
                                                    </tr>
                                                </tfoot>
                                                <tbody id="tBodyRowExpense">
                                                    <tr class="RowCal1">
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="ExpenseID" type="text" value="" class="ExpenseID" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="JobID" type="text" value="" class="JobID" disabled />
                                                        </td>
                                                        <td>
                                                            <select id="cmbExpenseType" class="ExpenseSelect"></select>
                                                        </td>
                                                        <td>
                                                            <select class="unitSelect"></select>
                                                        </td>
                                                        <td> 
                                                            <input type="text" id="txtQty" name="Qty" class="Quantity Number text-size80" onchange="CalSumExpense()">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitPrice" name="UnitPrice" class="Price Number text-size130" onchange="CalSumExpense()">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtAmount" name="Amount" class="Amount1 Number text-size165 txtdisablerow" disabled>
                                                        </td>
                                                        <td>
                                                            <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                    <tr class="RowCal1" id="add-template7">
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="ExpenseID" type="text" value="" class="ExpenseID" disabled />
                                                        </td>
                                                        <td class="hidecolumn">
                                                            <input id="JobID" type="text" value="" class="JobID" disabled />
                                                        </td>
                                                        <td>
                                                            <select id="cmbExpenseType" class="ExpenseSelect"></select>
                                                        </td>
                                                        <td>
                                                            <select class="unitSelect"></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtQty" name="Qty" class="Quantity Number text-size80" onchange="CalSumExpense()">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtUnitPrice" name="UnitPrice" class="Price Number text-size130" onchange="CalSumExpense()">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtAmount" name="Amount" class="Amount1 Number text-size165 txtdisablerow" disabled>
                                                        </td>
                                                        <td>
                                                            <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a id="add-row7" href="#" onclick="AddRowExpense()">+ Add Row</a>
                                        @*<button id="add-row7" onclick="AddRowExpense()" class="btn btn-primary">Add Row</button>*@
                                        @*<div class="myDIV">*@
                                        <table class="tableexpense">
                                            <tr>
                                                <td>
                                                    <ul class="form-style">
                                                        <li>
                                                            <label class="label-small-5">ราคาขายไม่รวม compound</label>
                                                        </li>
                                                        <li>
                                                            <input type="text" id="txtNoCompound" name="field6" class="text-size130 txtdisablerow" disabled />
                                                        </li>
                                                        <li>
                                                            <label class="label-small-3">ต้นทุน(Manpower and Tool Cost)</label>
                                                        </li>
                                                        <li>
                                                            <input type="text" id="txtExpense" name="field6" class="text-size130 txtdisablerow" disabled />
                                                        </li>
                                                        <li>
                                                            <label class="label-small-6">กำไร</label>
                                                        </li>
                                                        <li>
                                                            <input type="text" id="txtProfit" name="field6" class="text-size130 txtdisablerow" disabled />
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div>
                                    <div class="wrapper">
                                        <div class="myDIV">
                                            <table id="tabManpower" class="example">
                                                <thead class="theader">
                                                    <tr>
                                                        <th rowspan="3"></th>
                                                        <th rowspan="3">No.</th>
                                                        <th rowspan="3">ชื่อ</th>
                                                        <th rowspan="3">เลขบัตรประชาชน</th>
                                                        <th rowspan="3">ประเภทพนักงาน</th>
                                                        <th rowspan="3">Date</th>
                                                        <th rowspan="3">Day</th>
                                                        <th rowspan="3">Time</th>
                                                        <th colspan="2">WORKING TIME</th>
                                                        <th colspan="4">NUMBER OF HOUSE</th>
                                                        <th rowspan="3" colspan="2"></th>
                                                    </tr>
                                                    <tr>
                                                        <th rowspan="2">FROM</th>
                                                        <th rowspan="2">TO</th>
                                                        <th rowspan="2" class="thwrap">TOTAL HOURS</th>
                                                        <th colspan="3">OVERTIME</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Normal(1)</th>
                                                        <th>Premium(1.5)</th>
                                                        <th>Special(3)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td>
                                                            <select>
                                                                <option value="1">Technician1</option>
                                                                <option value="2">Technician2</option>
                                                                <option value="3">Technician3</option>
                                                                <option value="3">Technician4</option>
                                                                <option value="3">Technician5</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input id="CardID" type="text" value="" class="text-size140 txtdisablerow" disabled />
                                                        </td>
                                                        <td>
                                                            <select class="select-size120">
                                                                <option value="1">พนักงานประจำ</option>
                                                                <option value="2">พนักงานชั่งคราว</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="datepicker4" class="text-size100" />
                                                        </td>
                                                        <td>
                                                            <select class="select-size50">
                                                                <option value="1">อา</option>
                                                                <option value="2">จ</option>
                                                                <option value="3">อ</option>
                                                                <option value="3">พ</option>
                                                                <option value="3">พฤ</option>
                                                                <option value="3">ศ</option>
                                                                <option value="3">ส</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="Time" name="CreateDate" class="text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtFrom" name="timepicker" class="timepicker text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtTo" name="timepicker" class="timepicker text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input id="Hours" type="text" value="" class="text-size50 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Normal" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Premium" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Special" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                    <tr id="add-template2">
                                                        <td>
                                                            <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                        </td>
                                                        <td>
                                                            <input id="No" type="text" value="" class="tdno" disabled />
                                                        </td>
                                                        <td>
                                                            <select>
                                                                <option value="1">Technician1</option>
                                                                <option value="2">Technician2</option>
                                                                <option value="3">Technician3</option>
                                                                <option value="3">Technician4</option>
                                                                <option value="3">Technician5</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input id="CardID" type="text" value="" class="text-size140 txtdisablerow" disabled />
                                                        </td>
                                                        <td>
                                                            <select class="select-size120">
                                                                <option value="1">พนักงานประจำ</option>
                                                                <option value="2">พนักงานชั่งคราว</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="datepicker5" class="text-size100" />
                                                        </td>
                                                        <td>
                                                            <select class="select-size50">
                                                                <option value="1">อา</option>
                                                                <option value="2">จ</option>
                                                                <option value="3">อ</option>
                                                                <option value="3">พ</option>
                                                                <option value="3">พฤ</option>
                                                                <option value="3">ศ</option>
                                                                <option value="3">ส</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="Time" name="CreateDate" class="text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtFrom" name="timepicker" class="timepicker text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtTo" name="timepicker" class="timepicker text-size50 textcenter">
                                                        </td>
                                                        <td>
                                                            <input id="Hours" type="text" value="" class="text-size50 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Normal" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Premium" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <input id="Special" type="text" value="" class="text-size110 textcenter" />
                                                        </td>
                                                        <td>
                                                            <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                        </td>
                                                        <td>
                                                            <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button id="add-row2" class="btn btn-primary">Add Row</button><br /><br />
                                        <table>
                                            <tr>
                                                <td>
                                                    <ul class="form-style-1">
                                                        <li>
                                                            <label class="label-small-5">Sup</label>&nbsp;<label class="label-small-5">F/M</label>&nbsp;<label class="label-small-5">Tech</label>&nbsp;<label class="label-small-5">Safety</label>
                                                        </li>
                                                        <li>
                                                            <input type="text" name="field6" class="text-size80 textleft" placeholder="Sup" />&nbsp;<input type="text" name="field7" class="text-size80 textleft" placeholder="F/M" />&nbsp;<input type="text" name="field8" class="text-size80 textleft" placeholder="Tech" />&nbsp;<input type="text" name="field8" class="field-select-small" placeholder="Safety" />
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div>
                                    <div class="wrapper">
                                        <table id="tabSaleOrder" class="example">
                                            <thead class="theader">
                                                <tr>
                                                    <th></th>
                                                    <th>No.</th>
                                                    <th class="hidecolumn">ID</th>
                                                    <th class="hidecolumn">JobID</th>
                                                    <th>SO No.</th>
                                                    <th>จำนวนเงิน</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBodyRowSaleOrder">
                                                <tr class="RowCal2">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="SaleOrderID" type="text" value="" class="SaleOrderID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtSaleOrderNo" class="SaleOrderNo text-size180 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount2 Number text-size180 textright">
                                                    </td>
                                                    <td>
                                                        <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                                <tr class="RowCal2" id="add-template3">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="SaleOrderID" type="text" value="" class="SaleOrderID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtSaleOrderNo" class="SaleOrderNo text-size180 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount2 Number text-size180 textright">
                                                    </td>
                                                    <td>
                                                        <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a id="add-row3" href="#">+ Add Row</a>
                                        @*<button id="add-row3" class="btn btn-primary">Add Row</button>*@
                                    </div>
                                    <p></p>

                                    <div class="clr"></div>
                                </div>
                                <div>
                                    <div class="wrapper">
                                        <table id="tabInvoice" class="example">
                                            <thead class="theader">
                                                <tr>
                                                    <th></th>
                                                    <th>No.</th>
                                                    <th class="hidecolumn">ID</th>
                                                    <th class="hidecolumn">JobID</th>
                                                    <th>Inv No</th>
                                                    <th>So No.</th>
                                                    <th>จำนวนเงิน</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBodyRowInvoice">
                                                <tr class="RowCal3">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="InvoiceID" type="text" value="" class="InvoiceID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtInvoiceNo" class="InvoiceNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtSaleOrderNo" class="SaleOrderNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount3 Number text-size165 textright">
                                                    </td>
                                                    <td>
                                                        <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                                <tr class="RowCal3" id="add-template4">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="InvoiceID" type="text" value="" class="InvoiceID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtInvoiceNo" class="InvoiceNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtSaleOrderNo" class="SaleOrderNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount3 Number text-size165 textright">
                                                    </td>
                                                    <td>
                                                        <div class="clone-1"><img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" /></div>
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a id="add-row4" href="#">+ Add Row</a>
                                        @*<button id="add-row4" class="btn btn-primary">Add Row</button>*@
                                    </div>
                                    <p></p>

                                    <div class="clr"></div>
                                </div>
                                <div>
                                    <div class="wrapper">
                                        <table id="tabReceipt" class="example">
                                            <thead class="theader">
                                                <tr>
                                                    <th></th>
                                                    <th>No.</th>
                                                    <th class="hidecolumn">ID</th>
                                                    <th class="hidecolumn">JobID</th>
                                                    <th>Rep No.</th>
                                                    <th>Inv No.</th>
                                                    <th>จำนวนเงิน</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBodyRowReceipt">
                                                <tr class="RowCal4">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="ReceiptID" type="text" value="" class="ReceiptID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtReceiptNo" class="ReceiptNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtInvoiceNo" class="InvoiceNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount4 Number text-size165 textright">
                                                    </td>
                                                    <td>
                                                        <img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" />
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                                <tr class="RowCal4" id="add-template5">
                                                    <td>
                                                        <img class="drag-handle" src="@Url.Content("~/images/drag.png")" alt="click and drag to rearrange" />
                                                    </td>
                                                    <td>
                                                        <input id="No" type="text" value="" class="tdno" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="ReceiptID" type="text" value="" class="ReceiptID" disabled />
                                                    </td>
                                                    <td class="hidecolumn">
                                                        <input id="JobID" type="text" value="" class="JobID" disabled />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtReceiptNo" class="ReceiptNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtInvoiceNo" class="InvoiceNo text-size165 textleft">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtAmount" class="Amount4 Number text-size165 textright">
                                                    </td>
                                                    <td>
                                                        <img class="row-cloner" src="@Url.Content("~/images/clone.png")" alt="Clone Row" />
                                                    </td>
                                                    <td>
                                                        <img class="row-remover" src="@Url.Content("~/images/remove.png")" alt="Remove Row" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a id="add-row5" href="#">+ Add Row</a>
                                        @*<button id="add-row5" class="btn btn-primary">Add Row</button>*@
                                    </div>
                                    <p></p>

                                    <div class="clr"></div>
                                </div>
                                <div>
                                    <div class="barattach-2">
                                        <a href="@Url.Action("CreateBorrow", "Borrow")?@Request.Params["id"]" class="alink"><img src="@Url.Content("~/Images/btnadd.png")" class="btnimage-4" /></a>
                                    </div>
                                    <div class="grigbar">
                                        <table class="table table-striped">
                                            <thead class="bgthead">
                                                <tr>
                                                    <th rowspan="2">ลำดับ</th>
                                                    <th rowspan="2">Serial</th>
                                                    <th rowspan="2">รายละเอียด</th>
                                                    <th rowspan="2" class="hideANDseek">ยี่ห้อ</th>
                                                    <th rowspan="2" class="hideANDseek">รุ่น</th>
                                                    <th rowspan="2">ขนาด</th>
                                                    <th rowspan="2">จำนวน</th>
                                                    <th colspan="4" class="hideANDseek">คืน</th>
                                                    <th rowspan="2"></th>
                                                </tr>
                                                <tr>
                                                    <th class="hideANDseek">ดี</th>
                                                    <th class="hideANDseek">หาย</th>
                                                    <th class="hideANDseek">ซ่อม</th>
                                                    <th class="hideANDseek">ชำรุด</th>
                                                </tr>
                                            </thead>
                                            <tbody id="result"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <ul class="form-style-1">
            <li>
                <button type="button" class="btn btn-primary" onclick="Isvalidate('Update', 'JobOrder', @Request.Params["id"])">Save</button><a href="@Url.Action("IndexRptJobOrder", "RptJobOrder")" class="alink"><img src="@Url.Content("~/Images/addpicture.png")" class="btnimage-4" /></a>
            </li>
        </ul>
    </form>
}
<script type="text/javascript">
    $(document).ready(function () {

        GetData(@Request.Params["id"]);
        GetJobOrderBorrow(@Request.Params["id"])
    });

</script>