@{
    ViewBag.Title = "DashBoard";
}

@*<h2>DashBoard</h2>*@
<script src="@Url.Content("~/Scripts/CUDS/Technician/TechnicianExpiredCard.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/calendar/fullcalendarCustom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/calendar/fullcalendar.print.min.css")" rel="stylesheet" media="print" type="text/css" />
<script src="@Url.Content("~/Scripts/lib/moment.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/lib/jquery.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/calendar/fullcalendar.js")" type="text/javascript"></script>


<script>
function GetDetail(currentMonth) {
    //Set defaultDate
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    
    var dataObject = { CalendarMonth: currentMonth + '&' + localStorage['IsTechnician'] + '&' + localStorage['FirstName'] + '&' + localStorage['LastName'] }
    //alert("Test");
    $.ajax(
       {
           url: 'http://localhost:13131/api/CalendarJobOrder',
           type: 'GET',
           async: false,
           data: dataObject,
           datatype: 'json',
           success: function (data) {
               data = JSON.parse(data);
               
               var event = [];
               //alert("dat " + data.Table.length);
               //if (data.Table.length > 0)
               //{
                   for (var i = 0; i < data.Table.length; i++) {
                       var EWorking = data.Table[i].EWorking.replace('T00:00:00', 'T23:59:00');
                       var TypeWorking = data.Table[i].TypeWorkingName.substr(0, 3);
                       event.push({
                           title: '(' + TypeWorking + ')' + data.Table[i].JobNo,
                           url: '/JobOrder/EditJobOrder?id=' + data.Table[i].ID,
                           start: data.Table[i].SWorking,
                           end: EWorking
                       });
                   }
               //}
              
               $('#calendar').fullCalendar('removeEvents');
               $('#calendar').fullCalendar('addEventSource', event);
               $('#calendar').fullCalendar('rerenderEvents');

               $('#calendar').fullCalendar({
                   header: {
                       left: 'prev,next',
                       center: 'title',
                       right: ''
                   },

                   defaultView: 'month',
                   //navLinks: true, // can click day/week names to navigate views
                   editable: false,
                   eventLimit: true, // allow "more" link when too many events
                   displayEventTime: false,
                   events: event
               });

           },
           error: function (msg) {
               alert(msg);
           }
       });
}
function GetDetailManPower(currentMonth) {
    //Set defaultDate
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;

    var dataObject = { CalendarMonth: currentMonth + '&' + localStorage['IsTechnician'] + '&' + localStorage['FirstName'] + '&' + localStorage['LastName'] }
    $.ajax(
       {
           url: 'http://localhost:13131/api/CalendarManPower',
           type: 'GET',
           async: false,
           data: dataObject,
           datatype: 'json',
           success: function (data) {
               data = JSON.parse(data);
               var event = [];
               //alert("dat "+data.Table.length);
               //if (data.Table.length > 0)
               //{
                   for (var i = 0; i < data.Table.length; i++) {
                       var EWorking = data.Table[i].EWorking.replace('T00:00:00', 'T23:59:00');
                       event.push({
                           title: data.Table[i].TechFullName + ' (' + data.Table[i].JobNo + ')',
                           start: data.Table[i].SWorking,
                           end: EWorking
                           ////id: data.Table[i].ID
                       });
               //}
                   $('#calendarManPower').fullCalendar('removeEvents');
                   $('#calendarManPower').fullCalendar('addEventSource', event);
                   $('#calendarManPower').fullCalendar('rerenderEvents');
               }

               $('#calendarManPower').fullCalendar({
                   async: false,
                   header: {
                       left: 'prev,next',
                       center: 'title',
                       right: ''
                   },

                   defaultView: 'month',
                   //defaultDate: today,
                   //navLinks: true, // can click day/week names to navigate views
                   editable: false,
                   eventLimit: true, // allow "more" link when too many events
                   displayEventTime: false,
                   events: event

               });
           },
           error: function (msg) {
               alert(msg);
           }

       });
}

$(document).ready(function () {
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth() + 1;
    $('#calendar').addClass('table-responsive');
    //$('#calendar').attr("style", "width: 40%;  margin-bottom: 20px; float: left;");

    GetDetail(currentMonth);
    $('#calendar').on('click', '.fc-next-button', function () {
        var currentMonth = $('#calendar').fullCalendar('getDate');
        currentMonth = parseInt(currentMonth.format('M'));
        GetDetail(currentMonth);
    });
    $('#calendar').on('click', '.fc-prev-button', function () {
        var currentMonth = $('#calendar').fullCalendar('getDate');
        currentMonth = parseInt(currentMonth.format('M'));
        GetDetail(currentMonth);
    });

    //==================================================================ManPower
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth() + 1;
    $('#calendarManPower').addClass('table-responsive');
    //$('#calendarManPower').attr("style", "width: 40%;  margin-bottom: 20px; float: right;");

    GetDetailManPower(currentMonth);
    $('#calendarManPower').on('click', '.fc-next-button', function () {
        var currentMonth = $('#calendarMonthManPower').fullCalendar('getDate');
        currentMonth = parseInt(currentMonth.format('M'));
        GetDetailManPower(currentMonth);
    });
    $('#calendarManPower').on('click', '.fc-prev-button', function () {
        var currentMonth = $('#calendarManPower').fullCalendar('getDate');
        currentMonth = parseInt(currentMonth.format('M'));
        GetDetailManPower(currentMonth);
    });
    CheckAuthorization();
});
</script>
<style>
    body {
        /*margin: 40px 10px;*/
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }
     .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #9fa694 !important;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #7a8775;
            font-weight: bold;
        }

    #result {
        font-family: serif;
    }
</style>
<h2 class="bigtopic">Job Order</h2><h2>Man Power</h2>
<div id="calendar"></div>
<div id="calendarManPower"></div>
<section class="features">
    <div class="table-responsive">
        <table class="barattach-gray">
            <tr>
                <td>
                    <label class="topicmargin-size67">Expired Card</label>
                    <div class="topicText">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
                </td>
            </tr>
        </table>
        <table id="tblExpiredTechnician" class="table tbgray table-striped-gray scrolling">
            <thead class="bgthead-gray">
                <tr>
                    <th class="thgray txtcenter">No.</th>
                    <th class="hidecolumn">TechnicianID</th>
                    <th class="thgray">ชื่อ-นามสกุล</th>
                    <th class="thgray hideANDseek">ตำแหน่ง</th>
                    <th class="thgray">ประเภทพนักงาน</th>
                    <th class="thgray hideANDseek">เลขที่บัตร</th>
                    <th class="thgray">วันหมดอายุ</th>
                    <th class="hidecolumn">ประเภทบัตร</th>
                    <th class="thgray">บริษัท</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody id="ExpiredCard"></tbody>
        </table>
    </div>
        
</section>

