@{
    ViewBag.Title = "EditProductAdjust";
}

<script src="@Url.Content("~/Scripts/CUDS/ProductAdjustment/EditProductAdjustment.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/CUDS/Products/IndexProducts.js")" type="text/javascript"></script>*@
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<style>
    table {
        background: #fbfbf1;
        /*width: 335px;*/
    }

    .btn-xs {
        padding: 1px 1px;
        width: 20px;
    }
</style>
<div class="modal fade" id="productsDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content-Quo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stock</h4>
            </div>
            <div class="modal-body">
                <div class="table-overflow">
                    @*<table class="barattach-4">
                            <tr>
                                <td>
                                    <div class="topicText-2">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
                                </td>
                            </tr>
                        </table>*@
                    @*<table id="tblQuotation" class="table table-striped table-hover table-responsive">*@
                    <table id="tblDiaProductAdjust" class="table-striped table-hover table-responsive">
                        <thead class="bgthead bgfont-12">
                            <tr>
                                <th class="bodypadding-5" colspan="7"><div class="topicText-2">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div></th>
                            </tr>
                            <tr>
                                <th class="bodypadding-10">No.</th>
                                <th class="bodypadding-10 hidecolumn">ID</th>
                                <th class="bodypadding-10">SerailNo</th>
                                <th class="bodypadding-10">ยี่ห้อ</th>
                                <th class="bodypadding-10">รุ่น</th>
                                <th class="bodypadding-10">ขนาด</th>
                                <th class="bodypadding-10">คงเหลือ</th>
                                @*<th class="bodypadding-10">หน่วยนับ</th>*@
                            </tr>
                        </thead>
                        <tbody id="quotationBody" class="bgfont-12"></tbody>
                    </table>
                </div>
                @*</div>*@
                @*<ul class="pagination pagination-lg pager" id="myPager"></ul>*@
            </div>
        </div>
    </div>
</div>
<table>
    <tr>
        <td>
            <div class="linkstyle">@Html.ActionLink("ProductsAdjustment List", "IndexProductAdjust")</div>
        </td>
    </tr>
</table>
<div id="myModal">
    @using (Html.BeginForm())
    {
        //===================================================================CSS w3school
        <form id="myform">
            <ul class="form-style-1">
                <li>
                    <label class="label-2">Serial Number <span class="required">*</span></label>
                </li>
                <li>
                    <input type="text" id="txtSerialNo" name="field_1" class="field-divided" placeholder="Serial" autofocus required />&nbsp;<a href="#" data-toggle="modal" data-target="#productsDialog" onclick="BrowseProducts()">
                        <img src="@Url.Content("~/Images/search-engine.png")" class="btnimage" />
                    </a>
                    <input type="hidden" id="hidProductID" />
                    <input type="hidden" id="hidID" />
                </li>
                
                <li>
                    <label class="label-2" style="margin-right: 42%;">ยี่ห้อ</label>&nbsp;<label class="label-2">ขนาด</label>
                </li>
                <li>
                    <input type="text" id="txtBrand" name="field1" class="field-divided" placeholder="" disabled/>&nbsp;<input type="text" id="txtSize" name="field2" class="field-select-small text-size160" placeholder="" disabled/>
                </li>
                <li>
                    <label class="label-2" style="margin-right: 45%;">รุ่น</label>&nbsp;<label class="label-2">DocRef</label>
                </li>
                <li>
                    <input type="text" id="txtModel" name="field2" class="field-divided" placeholder="" disabled/>&nbsp;<input type="text" id="txtDocRef" name="field2" class="field-select-small" placeholder="" />
                </li>
                
                <li>
                    @*<label class="label-small">ยกมา<span class="required">*</span></label>&nbsp;*@
                    <label class="label-small-3 float-none">คงเหลือ</label>
                </li>
                <li>
                    @*<input type="number" id="txtBalance" name="field1" class="field-select-small" placeholder="" onblur="GetRemain()" required />&nbsp;*@
                    <input type="number" id="txtRemain" name="field2" class="field-select-small" placeholder="" required disabled />
                </li>
                <li>
                    <label class="label-small-2">เพิ่ม</label>&nbsp;<label class="label-small-2">ลด</label>
                </li>
                <li>
                    <input type="text" id="txtAdded" name="field6" class="Number field-select-small" placeholder="" value="0"/>&nbsp;
                    <input type="text" id="txtDeduction" name="field6" class="Number field-select-small" placeholder="" value="0" onblur="GetDeduct()"/>&nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-primary" onclick="Isvalidate('Update', 'ProductAdjust', @Request.Params["id"])">Save</button>
                </li>
            </ul>
        </form>
    }
    @*//===================================================================CSS w3school*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //var input = window.location.href;
        //var after = input.split('?')[1]
        //var val = after.split('=');
        //var Isview = val[2];
        GetData(@Request.Params["id"]);
        CheckAuthorization();
    });
</script>