@{
    ViewBag.Title = "IndexWageVendor";
}

<h2>WageVendor</h2>

<table class="table table-striped">
    <thead class="bgthead">
        <tr>
            <th>No.</th>
            <th>FullName</th>
            <th>ID Card</th>
            <th>Address</th>
            <th>Tel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Vendor1</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่1</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Vendor2</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่2</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vendor3</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่3</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Vendor4</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่4</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Vendor5</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่5</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Vendor6</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่6</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Vendor7</td>
            <td>x-xxx-xxxxxx-xx-x</td>
            <td>ที่อยู่7</td>
            <td>09x-xxx-xxxx</td>
            <td>
                <a href="@Url.Action("EditWageVendor", "WageVendor")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
    </tbody>
</table>