<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        @*---------------------------- Default --------------------------*@
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>
        @*---------------------------- ConfirmDialog --------------------------*@
        <script src="@Url.Content("~/Scripts/ConfirmDialog/ConfirmDialog.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/CUDS/UserLogin/IndexUserLogin.js")" type="text/javascript"></script>
        @*---------------------------- Menu,Table --------------------------*@
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        @*<link href="@Url.Content("~/Content/custommenu.css")" rel="stylesheet" type="text/css" />*@
        @*<link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />*@
        @*---------------------------- Table Paging --------------------------*@
        @*<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@
        <script src="@Url.Content("~/Scripts/Datatable/paging.js")" type="text/javascript"></script>
        @* ---------------------------- menu -------------------------- *@
        <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>*@
        @* ---------------------------- NumberFormat -------------------------- *@
        <script src="@Url.Content("~/Scripts/NumberFormat/jshashtable-3.0.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/NumberFormat/jquery.numberformatter-1.2.4.js")" type="text/javascript"></script>       
        @* ---------------------------- Tab -------------------------- *@
        <link href="@Url.Content("~/Content/Tab/easy-responsive-tabs.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/Tab/easyResponsiveTabs.js")" type="text/javascript"></script>
        @* ---------------------------- Dynamictable -------------------------- *@
        <link href="@Url.Content("~/Content/editable/addrowstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/EditableGrid/highlight.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/EditableGrid/jquery.dynotable.js")" type="text/javascript"></script>
        @* ---------------------------- DatePicker -------------------------- *@
        <link href="@Url.Content("~/Content/datepicker/santiago.datepicker.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/CUDS/UserLogin/CheckAuthorization.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/CUDS/ChangeFomatDate.js")" type="text/javascript"></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                document.getElementById("lblUserName").innerHTML = localStorage['UserName'];
            });

        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
        </script>
        @* ---------------------------- menu -------------------------- *@
        <meta name="viewport" content="width=device-width">

    </head>
    <body class="headerimg">
        <header>
            @*<div class="float-left"></div>*@
            <div>
                @*<a href="@Url.Action("Index", "Home")" class="imagelogo"></a>*@
                @*<img src="@Url.Content("~/Images/user.png")" alt="IMAGES" class="imglogon" />*@
                <label class="logonUser">User:</label> <label id="lblUserName" class="logonname"></label>
                    @*<img src="@Url.Content("~/Images/log-in.png")" alt="IMAGES" class="imgicon" />*@
                    <div class="loginname">@Html.ActionLink("Log Out", "IndexLogin", "Login")</div>
                    @*<div class="table-responsive">*@
                    <div class="menulocation">
                        <table border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <nav class="navbar navbar-default">
                                        @*<div class="container-fluid">*@
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <div id="mnDashboard" class="menugray dropdown-toggle disabled" data-toggle="dropdown">@Html.ActionLink("Dashboard", "DashBoard", "Home")</div>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnAdministrator" class="menublue dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></div>
                                                <ul class="dropdown-menulightblue">
                                                    <li id="subIncome">
                                                        @Html.ActionLink("Income", "IndexIncomeMaster", "IncomeMaster")
                                                    </li>
                                                    <li id="subExpense">
                                                        @Html.ActionLink("Expense", "IndexExpenseMaster", "ExpenseMaster")
                                                    </li>
                                                    <li id="subSecurity">
                                                        @Html.ActionLink("SecurityProfile", "IndexSecurityProfile", "SecurityProfile")
                                                    </li>
                                                    <li id="subUser">
                                                        @Html.ActionLink("User", "IndexUser", "User")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnActivity" class="menugray dropdown-toggle" data-toggle="dropdown">Activity<span class="caret"></span></div>
                                                <ul class="dropdown-menu">
                                                    <li id="subActivity">
                                                        @Html.ActionLink("All Activity", "AllActivity", "AllActivity")
                                                    </li>
                                                    <li id="subJobCalendar">
                                                        @Html.ActionLink("Calendar Job", "IndexCalendarJob", "CalendarJob")
                                                    </li>
                                                    <li id="subManCalendar">
                                                        @Html.ActionLink("Calendar ManPower", "IndexCMP", "CalendarManPower")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnTechnician" class="menunevyblue dropdown-toggle" data-toggle="dropdown">Technician & Card<span class="caret"></span></div>
                                                <ul class="dropdown-menulightnavyblue">
                                                    <li id="subTechnician">
                                                        @Html.ActionLink("Technician", "IndexTechnician", "Technician")
                                                    </li>
                                                    <li id="subExpired">
                                                        @Html.ActionLink("Expired Card", "ExpiredTechnician1", "ExpiredTechnician1")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnTools" class="menugray dropdown-toggle" data-toggle="dropdown">Tools & Machines<span class="caret"></span></div>
                                                <ul class="dropdown-menu">
                                                    <li id="subProducts">
                                                        @Html.ActionLink("Stock", "IndexProducts", "Products")
                                                    </li>
                                                    <li id="subStockAdjust">
                                                        @Html.ActionLink("Stock Adjustment", "IndexProductAdjust", "ProductAdjust")
                                                    </li>
                                                    <li id="subReqisition">
                                                        @Html.ActionLink("Requisition & Return", "IndexRequisition", "Requisition")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnEstimate" class="menupuple dropdown-toggle" data-toggle="dropdown">Estimate & Job Order<span class="caret"></span></div>
                                                <ul class="dropdown-menulightpuple">
                                                    <li id="subBDC">
                                                        @Html.ActionLink("Estimate Price", "IndexBDC", "BDC")
                                                    </li>
                                                    <li id="subJobOrder">
                                                        @Html.ActionLink("Job Order", "IndexJobOrder", "JobOrder")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnPayment" class="menugray dropdown-toggle" data-toggle="dropdown">Payment<span class="caret"></span></div>
                                                <ul class="dropdown-menu">
                                                    <li id="subPayment">
                                                        @Html.ActionLink("Alpha & Outsource", "IndexWageTeachnician", "WageTeachnician")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <div id="mnReport" class="menupink dropdown-toggle" data-toggle="dropdown">Report<span class="caret"></span></div>
                                                <ul class="dropdown-menulightpink">
                                                    <li id="subRptJob">
                                                        @Html.ActionLink("Job Order", "IndexReportJobOrder", "ReportJobOrder")
                                                    </li>
                                                    <li id="subRptRequisition">
                                                        @Html.ActionLink("Requisition", "IndexRptBorrow", "ReportBorrow")
                                                    </li>
                                                    @*<li id="subRptJobPayment">
                                                @Html.ActionLink("Job Payment", "IndexRptJobPayment", "ReportJobPayment")
                                            </li>*@
                                                </ul>
                                            </li>
                                        </ul>
                                        @*</div>*@
                                    </nav>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*</div>*@
</div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">     
                @RenderBody()
                @RenderSection("ShowRptViewer", required: false)
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="footertext">&copy; @DateTime.Now.Year Alpha Group Co., Ltd. All Rights Reserved.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
