<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        @*---------------------------- Default --------------------------*@
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>
        @*---------------------------- ConfirmDialog --------------------------*@
        <script src="@Url.Content("~/Scripts/ConfirmDialog/ConfirmDialog.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/CUDS/UserLogin/IndexUserLogin.js")" type="text/javascript"></script>
        @*---------------------------- Menu,Table --------------------------*@
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
        @* ---------------------------- menu -------------------------- *@
        <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        @* ---------------------------- NumberFormat -------------------------- *@
        <script src="@Url.Content("~/Scripts/NumberFormat/jquery.number.js")" type="text/javascript"></script>
        @* ---------------------------- Tab -------------------------- *@
        <link href="@Url.Content("~/Content/Tab/easy-responsive-tabs.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/Tab/easyResponsiveTabs.js")" type="text/javascript"></script>
        @* ---------------------------- Dynamictable -------------------------- *@
        <link href="@Url.Content("~/Content/editable/addrowstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/EditableGrid/highlight.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/EditableGrid/jquery.dynotable.js")" type="text/javascript"></script>
        @* ---------------------------- DatePicker -------------------------- *@
        <link href="@Url.Content("~/Content/datepicker/santiago.datepicker.css")" rel="stylesheet" type="text/css" />

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                document.getElementById("lblUserName").innerHTML = localStorage['UserName'];
            });
            
        //$(function () {
        //    $("#products").accordion();
        //    //$('#nav li:has(ul)').doubleTapToGo();
        //});
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        </script>
        @* ---------------------------- menu -------------------------- *@
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="@Url.Action("Index", "Home")" class="imagelogo"></a>
                    <img src="@Url.Content("~/Images/user.png")" alt="IMAGES" class="imglogon" /><label id="lblUserName" class="logonname"></label>
                    <img src="@Url.Content("~/Images/log-in.png")" alt="IMAGES" class="imgicon" />
                    <div class="loginname">@Html.ActionLink("Log Out", "IndexLogin", "Login")</div>
                </div>
                @*<div class="float-right">*@
                    @*<section id="login">
                        @Html.Partial("_LogOnPartial")
                    </section>*@
                    @*<nav>*@
                    <label for="show-menu" class="show-menu">Menu ☰</label>
                    <input type="checkbox" id="show-menu" role="button" class="Hidecheckbox">
                    <ul id="menu" class="menuul">
                        <li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Home", "Index", "Home")</div></div></li>
                        <li class="menuli">
                            <div class="menua">
                                <div class="menutext">
                                    @Html.ActionLink("Master", "Index", "Home")
                                    <ul class="hidden">
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Income", "IndexIncomeMaster", "IncomeMaster")</div></li>
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Expense", "IndexExpenseMaster", "ExpenseMaster")</div></li>
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("RoleMaster", "IndexRoleMaster", "RoleMaster")</div></li>
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Authorization", "IndexAuthorization", "Authorization")</div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Warning", "ExpiredTechnician", "Technician")</div></div></li>
                        <li class="menuli">
                            <div class="menua">
                                <div class="menutext">
                                    @Html.ActionLink("Calendar", "Index", "Home")
                                    <ul class="hidden">
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Job", "IndexCalendarJob", "CalendarJob")</div></li>
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Man Power", "IndexCMP", "CalendarManPower")</div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Technician", "IndexTechnician", "Technician")</div></div></li>
                        <li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Products", "IndexProducts", "Products")</div></div></li>
                        <li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Break Down Cost", "IndexBDC", "BDC")</div></div></li>
                        @*<li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Job Order", "IndexJobOrder", "JobOrder")</div></div></li>*@
                        @*<li class="menuli"><div class="menua"><div class="menutext">@Html.ActionLink("Test", "View1", "ExpenseMaster")</div></div></li>*@
                        <li class="menuli">
                            <div class="menua">
                                <div class="menutext">
                                    @Html.ActionLink("Payment", "Index", "Home")
                                    <ul class="hidden">
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Technician", "IndexWageTeachnician", "WageTeachnician")</div></li>
                                        <li class="menuli"><div class="submenua">@Html.ActionLink("Vendor", "IndexWageVendor", "WageVendor")</div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            
        </header>
        
        <div id="body">
            <section class="content-wrapper main-content clear-fix">     
                @RenderBody()
                @RenderSection("ShowRptViewer", required: false)
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="footertext">&copy; @DateTime.Now.Year Alpha Group Co., Ltd. All Rights Reserved.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
