@{
    ViewBag.Title = "Index";
}

<h2>Manpower (J00002)</h2>
<table id="example" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>No.</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ประเภทพนักงาน</th>
            <th>บัตร</th>
            <th>Job No.</th>
            <th>ประเภทงาน</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ชื่อ นามสกุล1</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง1</td>
            <td>J00002</td>
            <td>Job Leak Sealing Online</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ชื่อ นามสกุล2</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง2</td>
            <td>J00002</td>
            <td>Job Leak Sealing Online</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ชื่อ นามสกุล2</td>
            <td>พนักงานประจำ</td>
            <td>ช่าง2</td>
            <td>J00002</td>
            <td>Job Leak Sealing Online</td>
        </tr>
    </tbody>
</table>
@* ------------------------------- grid  -------------------------------*@

<link href="@Url.Content("~/Content/table/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/css/buttons.jqueryui.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("https://code.jquery.com/jquery-1.12.4.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.html5.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.print.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.colVis.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/dataTables.buttons.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.jqueryui.min.js")" type="text/javascript"></script>
<script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis']
            });

            table.buttons().container()
                .insertBefore('#example_filter');
        });
</script>
