@model AlphaMvc.Models.Product
@{
    ViewBag.Title = "CreateProducts";
}

<h2>
    Product Create
</h2>
<link href="@Url.Content("~/Content/editable/tablestyle.css")" rel="stylesheet" type="text/css" />

<style>
    table {
        background: #fbfbf1;
        width: 335px;
    }
</style>
<table>
    <tr>
        <td>
            <div class="linkstyle">@Html.ActionLink("Products List", "IndexProducts")</div>
        </td>
    </tr>
</table>
<div id="myModal">
    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Products <span class="required">*</span></label>
                    <input type="text" id = "SerialNo" name="field1" class="field-divided" placeholder="Serial" />&nbsp;<input type="text" id = "MachineNo" name="field1" class="field-divided" placeholder="หมายเลขเครื่อง" />
                </li>
                <li>
                    <label>ประเภทสินค้า</label>
                    <select id="cmbToolType" name="cmbToolType" class="field-select">
                    </select>
                </li>
                <li>
                    <input type="text" id = "Brand" name="field1" class="field-divided" placeholder="ยี่ห้อ" />&nbsp;<input type="text" id = "Size" name="field2" class="field-select-small" placeholder="ขนาด" />
                </li>
                <li>
                    <input type="text" id = "Model" name="field2" class="field-divided" placeholder="รุ่น" />&nbsp;<input type="text" id = "Lifetime" name="field2" class="field-select-small-3" placeholder="อายุการใช้งาน" />&nbsp;<label>ปี</label>
                </li>
                <li>
                    <label class="label-big">รับเข้า</label>&nbsp;<label class="label-small">หน่วยนับ</label>
                </li>
                <li>
                    <input type="text" id = "ReceiveDate" class="field-divided" placeholder="วันที่รับเข้า" />&nbsp;
                    <select id="cmbUnitWeight" name="cmbUnitWeight" class="field-select-small-2">
                    </select>
                </li>
                <li>
                    <label class="label-small">ยกมา</label>&nbsp;<label class="label-small-3">คงเหลือ</label>
                </li>
                <li>
                    <input type="text" id = "Balance" name="field1" class="field-select-small" placeholder="ยกมา" />&nbsp;<input type="text" id = "Remain" name="field2" class="field-select-small" placeholder="คงเหลือ" />
                </li>
                <li>
                    <label class="label-small-2">หาย</label>&nbsp;<label class="label-small-2">ซ่อม</label>&nbsp;<label class="label-small-2">ชำรุด</label>
                </li>
                <li>
                    <input type="text" id = "Lost" name="field6" class="field-select-small" placeholder="หาย" />&nbsp;<input type="text" id = "Repair" name="field7" class="field-select-small" placeholder="ซ่อม" />&nbsp;<input type="text" id = "Break" name="field8" class="field-select-small" placeholder="ชำรุด" />
                </li>
            </ul>
            <ul class="form-style-1">
                <li>
                    <button class="imgbutton" id="img"></button>
                </li>
                <li>
                    <label>หมายเหตุ<span class="required">*</span></label>
                    <textarea name="field5" id = "Remark" id="field5" class="field-long field-textarea"></textarea>
                </li>
                <li>
                    <input type="submit" value="Save" id="Create"  />
                </li>
            </ul>
            <ul class="attachgrid">
                <li>
                    <table class="barattach">
                        <tr>
                            <td>
                                
                                <div class="topicattach"><a href="#"><img src="@Url.Content("~/Images/attachments2.png")" /></a></div>
                            </td>
                        </tr>
                    </table>
                    <table class="example-2" cellspacing="0">
                        <thead class="theader">
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Doc Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>File1</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>File2</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>File3</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>File4</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <br />
            </ul>
</form>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var dataObject = { typeID: '003' };
        $.ajax({
            url: 'http://localhost:13131/api/MasterService',
            type: 'GET',
            dataType: 'json',
            data: dataObject,
            success: function (data) {
                data = JSON.parse(data);
                $.each(data.Table, function (i) {
                    $('#cmbToolType').append($('<option></option>').val(data.Table[i].ID).html(data.Table[i].Detail));
                });
            },
            failure: function () {
                alert('Error');
            }
        });

        var dataObject = { typeID: '004' };
        $.ajax({
            url: 'http://localhost:13131/api/MasterService',
            type: 'GET',
            dataType: 'json',
            data: dataObject,
            success: function (data) {
                data = JSON.parse(data);
                $.each(data.Table, function (i) {
                    $('#cmbUnitWeight').append($('<option></option>').val(data.Table[i].ID).html(data.Table[i].Detail));
                });
            },
            failure: function () {
                alert('Error');
            }
        });

        $("#ReceiveDate").datepicker();

        $("#Create").click(function () {
            var dataObject = {
                SerialNo: $("#SerialNo").val(), MachineNo: $("#MachineNo").val(), ProductType: 1, Brand: $("#Brand").val(),
                Size: $("#Size").val(), Model: $("#Model").val(), Lifetime: $("#Lifetime").val(), ReceiveDate: $("#ReceiveDate").val(),
                Unit: 1, Balance: $("#Balance").val(), Remain: $("#Remain").val(), Lost: $("#Lost").val(), Repair: $("#Repair").val(),
                Break: $("#Break").val(), Remark: $("#Remark").val()};
            console.log(dataObject);
            $.ajax(
            {
                url: 'http://localhost:13131/api/Product',
                type: 'POST',
                data: dataObject,
                datatype: 'json',

                success: function (data) {
                    alert('Created Successfully');
                    window.location.href = "../ExpenseMaster/IndexExpenseMaster";
                },
                error: function (msg) { alert(msg); }
            });
        });
    });

</script>
