@model AlphaMvc.Models.Product
@{
    ViewBag.Title = "EditProducts";
}

<h2>
    Product Edit
</h2>
@* -------------------------------------- table -------------------------------- *@
<link href="@Url.Content("~/Content/editable/tablestyle.css")" rel="stylesheet" type="text/css" />
@* -------------------------------------- table -------------------------------- *@
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
</script>
<style>
    table {
        background: #fbfbf1;
        width: 335px;
    }
</style>
<table>
    <tr>
        <td>
            @Html.ActionLink("Products List", "IndexProducts")
        </td>
    </tr>
</table>
@*<br />*@
@* -------------------------------------- modal dialog-------------------------------- *@

@* -------------------------------------- modal dialog ------------------------------- *@
<div id="myModal">
    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style-1">
                <li>
                    @Html.LabelFor(a => a.SerialNo)
                    @Html.TextBoxFor(a => a.SerialNo, new { id = "SerialNo", @class = "field-divided", placeholder = "Serial" })
                    @Html.ValidationMessageFor(a => a.SerialNo)&nbsp;
                    @Html.LabelFor(a => a.MachineNo)
                    @Html.TextBoxFor(a => a.MachineNo, new { id = "MachineNo", @class = "field-divided", placeholder = "หมายเลขเครื่อง" })
                    @Html.ValidationMessageFor(a => a.MachineNo)
                </li>
                <li>
                    @Html.LabelFor(a => a.ProductType)
                    @Html.DropDownListFor(a => a.ProductType, new SelectListItem[]{
                    new SelectListItem() {Text = "Alphair", Value="1"},
                    new SelectListItem() {Text = "Air Vent", Value="2"},
                    new SelectListItem() {Text = "Ball Valve", Value="3"}}, new { @class = "field-divided" })
                </li>
                <li>
                    @Html.LabelFor(a => a.Brand)
                    @Html.TextBoxFor(a => a.Brand, new { id = "Brand", @class = "field-divided", placeholder = "ยี่ห้อ" })
                    @Html.ValidationMessageFor(a => a.Brand)&nbsp;
                    @Html.LabelFor(a => a.Size)
                    @Html.TextBoxFor(a => a.Size, new { id = "Size", @class = "field-select-small", placeholder = "ขนาด" })
                    @Html.ValidationMessageFor(a => a.Size)
                </li>
                <li>
                    @Html.LabelFor(a => a.Model)
                    @Html.TextBoxFor(a => a.Model, new { id = "Model", @class = "field-divided", placeholder = "รุ่น" })
                    @Html.ValidationMessageFor(a => a.Model)&nbsp;
                    @Html.LabelFor(a => a.Lifetime)
                    @Html.TextBoxFor(a => a.Lifetime, new { id = "Lifetime", @class = "field-select-small", placeholder = "อายุการใช้งาน" })
                    @Html.ValidationMessageFor(a => a.Lifetime)&nbsp;<label>ปี</label>

                </li>
                <li>
                    @Html.LabelFor(a => a.ReceiveDate)
                    @Html.TextBoxFor(a => a.ReceiveDate, new { id = "ReceiveDate", @class = "field-divided", placeholder = "วันที่รับเข้า" })
                    @Html.ValidationMessageFor(a => a.ReceiveDate)&nbsp;
                    @Html.LabelFor(a => a.Unit)
                    @Html.DropDownListFor(a => a.Unit, new SelectListItem[]{
                    new SelectListItem() {Text = "ชิ้น", Value="1"},
                    new SelectListItem() {Text = "แท่ง", Value="2"}}, new { @class = "field-select-small-2" })
                </li>
                <li>
                    @Html.LabelFor(a => a.Balance)
                    @Html.TextBoxFor(a => a.Balance, new { id = "Balance", @class = "field-select-small", placeholder = "ยกมา" })
                    @Html.ValidationMessageFor(a => a.Balance)&nbsp;
                    @Html.LabelFor(a => a.Remain)
                    @Html.TextBoxFor(a => a.Remain, new { id = "Remain", @class = "field-select-small", placeholder = "คงเหลือ" })
                    @Html.ValidationMessageFor(a => a.Remain)
                </li>
                <li>
                    @Html.LabelFor(a => a.Lost)
                    @Html.TextBoxFor(a => a.Lost, new { id = "Lost", @class = "field-select-small", placeholder = "หาย" })
                    @Html.ValidationMessageFor(a => a.Lost)&nbsp;
                    @Html.LabelFor(a => a.Repair)
                    @Html.TextBoxFor(a => a.Repair, new { id = "Repair", @class = "field-select-small", placeholder = "ซ่อม" })
                    @Html.ValidationMessageFor(a => a.Repair)&nbsp;
                    @Html.LabelFor(a => a.Break)
                    @Html.TextBoxFor(a => a.Break, new { id = "Break", @class = "field-select-small", placeholder = "ชำรุด" })
                    @Html.ValidationMessageFor(a => a.Break)
                </li>
            </ul>
            <ul class="form-style-1">
                <li>
                    <button class="imgbutton" id="img"></button>
                </li>
                <li>
                    @Html.LabelFor(a => a.Remark)
                    @Html.TextAreaFor(a => a.Remark, new { id = "Remark", @class = "field-long field-textarea", placeholder = "หมายเหตุ" })
                    @Html.ValidationMessageFor(a => a.Remark)
                </li>
                <li>
                    <input type="submit" value="Save" id="Create" />
                </li>
            </ul>
            <ul class="attachgrid">
                <li>
                    <table class="barattach">
                        <tr>
                            <td>

                                <div class="topicattach"><a href="#"><img src="@Url.Content("~/Images/attachments2.png")" /></a></div>
                            </td>
                        </tr>
                    </table>
                    <table class="example-2" cellspacing="0">
                        <thead class="theader">
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Doc Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>File1</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>File2</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>File3</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>File4</td>
                                <td>
                                    <select name="D1">
                                        <option value="volvo">ประเภท1</option>
                                        <option value="saab">ประเภท2</option>
                                        <option value="mercedes">ประเภท3</option>
                                        <option value="mercedes">ประเภท4</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Trachnician")">
                                        <img src="@Url.Content("~/Images/delete.png")" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <br />
            </ul>
        </form>
    }
</div>
<script type="text/javascript">

    $(document).ready(function () {
        @*var id= @Request.Params["id"];
        $.ajax(
       {
           url: 'http://localhost:13131/api/Product/'+id,
           type: 'GET',
           datatype: 'json',
           success: function (data) {
               data = JSON.parse(data);
               SerialNo: $("#SerialNo").val(), MachineNo: $("#MachineNo").val(), ProductType: 1, Brand: $("#Brand").val(),
               Size: $("#Size").val(), Model: $("#Model").val(), Lifetime: $("#Lifetime").val(), ReceiveDate: $("#ReceiveDate").val(),
               Unit: 1, Balance: $("#Balance").val(), Remain: $("#Remain").val(), Lost: $("#Lost").val(), Repair: $("#Repair").val(),
               Break: $("#Break").val(), Remark: $("#Remark").val()};

        $("#SerialNo").val(data.Table[0].SerialNo),$("#MachineNo").val(data.Table[0].MachineNo), $("#ProductType").val(data.Table[0].ProductType),
        $("#Brand").val(data.Table[0].Brand),$("#Size").val(data.Table[0].Size),$("#Model").val(data.Table[0].Model),$("#ReceiveDate").val(data.Table[0].ReceiveDate);
           },
           error: function (msg) {
               alert(msg);
           }

       });*@

        $("#Update").click(function () {
            var dataObject = { SerialNo: $("#SerialNo").val(), MachineNo: $("#MachineNo").val(), ProductType: 1, Brand: $("#Brand").val(),
                Size: $("#Size").val(), Model: $("#Model").val(), Lifetime: $("#Lifetime").val(), ReceiveDate: $("#ReceiveDate").val(),
                Unit: 1, Balance: $("#Balance").val(), Remain: $("#Remain").val(), Lost: $("#Lost").val(), Repair: $("#Repair").val(),
                Break: $("#Break").val(), Remark: $("#Remark").val()};
            console.log(dataObject);
            $.ajax(
            {
                url: 'http://localhost:13131/api/Product/PUT',
                type: 'PUT',
                data: dataObject,
                datatype: 'json',

                success: function (result) {
                    alert('Update is completed');
                    top.location.href = "/BDC/IndexBDC";
                }
                ,
                error: function (msg) {
                    alert(msg);
                    //top.location.href = "/ExpenseMaster/Index";
                }
            });
        });
    });
</script>

