@model AlphaMvc.Models.BDC
@{
    ViewBag.Title = "Create";
}


<h2>BreakDown Cost Create</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Break Down Cost List", "Index")
        </td>
    </tr>
</table>
@*<br />*@
@* -------------------------------------- modal dialog-------------------------------- *@
<link href="@Url.Content("~/Content/Dialog/dialogstyle.css")" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="@Url.Content("~/Content/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/css/buttons.jqueryui.min.css")" rel="stylesheet" type="text/css" />

@*<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.html5.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.print.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.colVis.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/dataTables.buttons.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/buttons/1.2.3/js/buttons.jqueryui.min.js")" type="text/javascript"></script>*@

<link href="@Url.Content("~/Content/Tab/easy-responsive-tabs.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Tab/easyResponsiveTabs.js")" type="text/javascript"></script>
<script>
  $( function() {
      $("#dialog").dialog({
      height: "auto",
      width: 550,
      modal: true,
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });

    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });
  } );
</script>

@*<div id="dialog" title="Quotation" class="dialogstyle">
    <table id="example2" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>No.</th>
                <th>Quo No.</th>
                <th>วันที่</th>
                <th>ลูกค้า</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Quo1</td>
                <td>17/12/2017</td>
                <td>บริษัท1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Quo2</td>
                <td>17/12/2017</td>
                <td>บริษัท2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Quo3</td>
                <td>17/12/2017</td>
                <td>บริษัท3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Quo4</td>
                <td>17/12/2017</td>
                <td>บริษัท4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Quo5</td>
                <td>17/12/2017</td>
                <td>บริษัท5</td>
            </tr>
        </tbody>
    </table>
</div>*@

<div id="myModal">

    @using (Html.BeginForm())
    {
        <form>
            <ul class="form-style-1">
                <li>
                    <img src="@Url.Content("~/images/btnNewVersion.jpg")" alt="IMAGES" class="btnimage-3" />
                </li>
                <li>
                    @Html.LabelFor(a => a.Docver)
                    @Html.TextBoxFor(a => a.Docver, new { id = "Docver", @class = "field-select-small-2", placeholder = "1", disabled = "disabled" })
                    @Html.ValidationMessageFor(a => a.Docver)
                </li>
                <li>
                    @Html.LabelFor(a => a.QuotationNo)
                    @Html.TextBoxFor(a => a.QuotationNo, new { id = "QuotationNo", @class = "field-select-big", placeholder = "ใบเสนอราคา", disabled = "disabled" })
                    @Html.ValidationMessageFor(a => a.QuotationNo)
                    &nbsp;<a href="#" id="opener"><img src="@Url.Content("~/Images/search-engine.png")" class="btnimage" /></a>
                </li>
            </ul>
            <ul class="form-style-1">
                <li>
                    @Html.LabelFor(a => a.Price)
                    @Html.TextBoxFor(a => a.Price, new { id = "Price", @class = "field-divided", placeholder = "ราคาขาย" })
                    @Html.ValidationMessageFor(a => a.Price)&nbsp;
                    @Html.LabelFor(a => a.Cost)
                    @Html.TextBoxFor(a => a.Cost, new { id = "Cost", @class = "field-divided", placeholder = "ราคาทุน" })
                    @Html.ValidationMessageFor(a => a.Cost)
                    
                </li>
                <li>
                    @Html.LabelFor(a => a.Profit)
                    @Html.TextBoxFor(a => a.Profit, new { id = "Profit", @class = "field-divided", placeholder = "กำไร" })
                    @Html.ValidationMessageFor(a => a.Profit)
                </li>
            </ul>
            <ul class="form-style-1">
                <li>
                    @Html.LabelFor(a => a.Remark)
                    @Html.TextAreaFor(a => a.Remark, new { id = "Remark", @class = "field-long field-textarea", placeholder = "หมายเหตุ" })
                    @Html.ValidationMessageFor(a => a.Remark)
                </li>
                <br />
            </ul>

            @*<th>No.</th>
            <th>Job No.</th>
            <th>วันที่</th>
            <th>ลูกค้า</th>
            <th>เบอร์โทร</th>
            <th class="hideANDseek">บุคคลติดต่อ</th>
            <th class="hideANDseek">ผู้ประสานงาน</th>
            <th class="hideANDseek">หมายเหตุ</th>
            <th></th>*@
            <ul class="form-style-1">
                <li>
                    <input type="submit" value="Save" id="Create"/>
                </li>
            </ul>
        </form>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Create").click(function () {
            var dataObject = {
                Docver: 1, QuotationNo: 1, Price: $("#Price").val(), Cost: $("#Cost").val(),
                Profit: $("#Profit").val(), Remark: $("#Remark").val()
            };
            $.ajax(
            {
                url: 'http://localhost:13131/api/BDC/Post',
                type: 'POST',
                data: dataObject,
                datatype: 'json',

                success: function (data) {
                    alert('Created Successfully');
                    window.location.href = "../BDC/Index";
                },
                error: function (msg) { alert(msg); }
            }); alert('test');
        });

        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });

</script>
