@model AlphaMvc.Models.BDCModels
@{
    ViewBag.Title = "CreateBDC";
}
<script src="@Url.Content("~/Scripts/CUDS/BDC/CreateBDC.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/CUDS/BDC/BDCJob.js")" type="text/javascript"></script>*@
<div class="modal fade" id="ShowDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="quotationDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content-Quo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quotation</h4>
            </div>
            <div class="modal-body">
                 <div class="table-overflow">
                         @*<table class="barattach-4">
                             <tr>
                                 <td>
                                     <div class="topicText-2">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div>
                                 </td>
                             </tr>
                         </table>*@
                        @*<table id="tblQuotation" class="table table-striped table-hover table-responsive">*@
                     <table id="tblQuotation" class="table-striped table-hover table-responsive">
                         <thead class="bgthead bgfont-12">
                             <tr>
                                 <th class="bodypadding-5" colspan="6"><div class="topicText-2">Search : <input id="searchInput" placeholder="Type To Filter" class="textleft"><br /></div></th>
                             </tr>
                             <tr>
                                 <th class="bodypadding-10">No.</th>
                                 <th class="bodypadding-10">Quote Id</th>
                                 <th class="bodypadding-10">Potential Customer</th>
                                 <th class="bodypadding-10 hideANDseek">Amount</th>
                                 <th class="bodypadding-10 hideANDseek">Revision</th>
                                 <th class="bodypadding-10 hideANDseek">Owner</th>
                             </tr>
                         </thead>
                         <tbody id="quotationBody" class="bgfont-12"></tbody>
                     </table>
                </div>
                @*</div>*@
                @*<ul class="pagination pagination-lg pager" id="myPager"></ul>*@
            </div>
        </div>
    </div>
</div>
<table>
    <tr>
        <td>
            @Html.ActionLink("Estimate Price", "IndexBDC")
        </td>
    </tr>
</table>
@*<br />*@
  <!-- Modal -->
@*//===================================================================Bootstrap*@


@*//===================================================================CSS w3school*@
<div id="myModal">

    @using (Html.BeginForm())
    {
        <form>
                <ul class="form-style-1">
                    <li>
                        <label class="btnnew">Revise</label>&nbsp;<img src="@Url.Content("~/images/btnNewVersion.png")" alt="IMAGES" class="btnnewversionCreate" />
                    </li>
                    <li>
                        <input type="text" id = "txtDocver"  name="field1" class="field-select-small-2" placeholder="1" disabled />
                    </li>
                    <li>
                        <input type="text" id="txtBDCNo" name="field1" class="text-size160" disabled />
                    </li>
                    <li>
                        <label>ใบเสนอราคา<span class="required">*</span></label>
                        <input type="text" id = "txtQuoNo" name="txtQuoNo" class="field-select-big"   readonly="readonly" required />&nbsp;<a href="#" data-toggle="modal" data-target="#quotationDialog" onclick="BrowseQuotation()">
                        <img src="@Url.Content("~/Images/search-engine.png")" class="btnimage" />
                    </a>
                    <input type="hidden" id="hidQuoID" /></li>
                </ul>
                <ul class="form-style-1">
                    <li>
                        <label class="label-small-20" id="lblPrice">ราคาขาย</label>&nbsp;<label class="label-small-20" id="lblCost">ราคาทุน</label>
                        <input type="text" id = "txtPrice" name="field1" class="text-size120 text-right" placeholder="0.00" disabled />&nbsp;<input type="text" id = "txtCost" name="field2" class="text-size120 text-right" placeholder="0.00" disabled />
                    </li>
                    <li>
                        <label id="lblProfit">กำไร</label>
                        <input type="text" id = "txtProfit" name="field1" class="field-divided text-right" placeholder="0.00" disabled />
                    </li>
                </ul>
                <ul class="form-style-1">
                    <li>
                        <label>หมายเหตุ</label>
                        <textarea name="field5" id = "txtRemark" class="field-long field-textarea" autofocus></textarea>
                    </li>
                    <br />
                </ul>
 @*//===================================================================CSS w3school*@
            <table class="tabbar">
                <tr>
                    <td>
                        <div id="container">

                            <div id="parentHorizontalTab">
                                <ul class="resp-tabs-list hor_1">
                                    <li>Job Order</li>
                                </ul>
                                <div class="resp-tabs-container hor_1">
                                    <div>
                                        @*<div class="barattach-2">
                                            <a href="@Url.Action("CreateJobOrder", "JobOrder")" class="alink"><img src="@Url.Content("~/Images/btnAdd.png")" class="btnimage-2" /></a>
                                        </div>*@
                                        <div class="grigbar">
                                            <div class="myDIV">
                                                <table class="table tbpuple table-striped-puple">
                                                    <thead class="bgthead-puple">
                                                        <tr>
                                                            <th class="thgray">No.</th>
                                                            <th class="thgray">Job No.</th>
                                                            <th class="thgray">วันที่</th>
                                                            <th class="thgray">ลูกค้า</th>
                                                            <th class="thgray">เบอร์โทร</th>
                                                            <th class="thgray hideANDseek">บุคคลติดต่อ</th>
                                                            <th class="thgray hideANDseek">ผู้ประสานงาน</th>
                                                            <th class="thgray hideANDseek">หมายเหตุ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="result"></tbody>
                                                </table>
                                                </div>
                                            </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <ul class="form-style-1">
                <li>
                    <button type="button" class="btn btn-primary mgr10" onclick="Isvalidate('Create', 'BDC', 0)">Save</button>
                    <button type="button" id="btnCancel" class="btn btn-danger" onclick="Redirect()">Cancel</button>
                    @*id="Create"*@
                </li>
            </ul>
        </form>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$(".resp-tab-active").css("border-top", "4px solid #8023a2 !important");
        CheckAuthorization();
    });
</script>