@{
    ViewBag.Title = "IndexWageTeachnician";
}

<h2>WageTechnician</h2>
<script src="@Url.Content("~/Scripts/EditableGrid/paging.js")" type="text/javascript"></script>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Emp ID</th>
            <th class="hideANDseek">HR Code</th>
            <th>FullName</th>
            <th class="hideANDseek">Type</th>
            <th>Position</th>
            <th class="hideANDseek">Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>T00001</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician1</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง1</td>
            <td class="hideANDseek">D</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>T00002</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician2</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง1</td>
            <td class="hideANDseek">D</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>T00003</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician3</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง3</td>
            <td class="hideANDseek">B</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>T00004</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician4</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง4</td>
            <td class="hideANDseek">A</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>T00005</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician5</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง2</td>
            <td class="hideANDseek">C</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>T00006</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician6</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง2</td>
            <td class="hideANDseek">C</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>T00007</td>
            <td class="hideANDseek">HR-xxxx</td>
            <td>Technician7</td>
            <td class="hideANDseek">พนักงานประจำ</td>
            <td>ช่าง3</td>
            <td class="hideANDseek">B</td>
            <td>
                <a href="@Url.Action("EditWageTeachnician", "WageTeachnician")">
                    <img src="@Url.Content("~/Images/view.png")" />
                </a>
            </td>
        </tr>
    </tbody>
</table>